.alerts {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.alert {
    /*position: relative;*/
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 20% 1fr 5%;
    width: 200px;
    min-height: 60px;
    color: #fff;
    align-items: center;
    padding: 8px 15px;
    border-radius: 6px;
}

.alert .icon i {
    font-size: 25px;
}

.alert-header {
    font-weight: bold;
    display: block;
}

.alert-text {
    font-size: 14px;
}

.alert-danger {
    background: rgba(255, 0, 0, 0.6);
}
.alert-danger .alert-close {
    cursor: pointer;
    color: rgba(204, 0, 0, 1);
}

.alert-success {
    background: rgba(0, 128, 0, 0.6);
}

.alert-success .alert-close {
    cursor: pointer;
    color: rgba(19, 97, 0, 1);
}

.alert-warning {
    background: rgba(199, 128, 0, 0.6);
}

.alert-warning .alert-close {
    cursor: pointer;
    color: rgba(142, 98, 0, 1);
}