.flip-card {
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.flip-card-inner-x {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner-x {
    transform: rotateY(180deg);
}

.flip-card-front-x,
.flip-card-back-x {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front-x {
    background-color: #fff;
}

.flip-card-back-x {
    background-color: #fff;
    display: grid;
    align-items: center;
    justify-items: center;
    transform: rotateY(180deg);
}

.flip-card-inner-y {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner-y {
    transform: rotateX(180deg);
}

.flip-card-front-y,
.flip-card-back-y {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back-y {
    color: #000;
    background-color: #fff;
    transform: rotateX(180deg);
}

.js,
.java,
.net,
.events,
.blog,
.contacts,
.php
{
    position: relative;
}

.js .card-prev,
.java .card-prev,
.net .card-prev,
.events .card-prev,
.blog .card-prev,
.contacts .card-prev,
.php .card-prev
{
    transition: 0.5s ease-in-out;
}

.js .card-content,
.java .card-content,
.net .card-content,
.events .card-content,
.blog .card-content,
.contacts .card-content,
.php .card-content
{
    position: absolute;
    top: 0;
    z-index: -1;
}

.js:hover .card-prev
{
    height: 0;
}

.java:hover .card-prev
{
    right: 100%;
    opacity: 0;
    width: 0;
}

.net:hover .card-prev
{
    /*top: 100%;*/
    left: 100%;
    opacity: 0;
    width: 0;
}

.events:hover .card-prev,
.blog:hover .card-prev,
.contacts:hover .card-prev
{
    left: 100%;
    opacity: 0;
    z-index: 2;
    width: 0;
}

.events:hover .card-content,
.contacts:hover .card-content
{
    z-index: 1;
}

.js .card-prev span,
.java .card-prev span,
.net .card-prev span,
.events .card-prev span,
.blog .card-prev span,
.contacts .card-prev span,
.php .card-prev span
{
    transition: 0.5s;
}

.js:hover .card-prev span,
.net:hover .card-prev span,
.php:hover .card-prev span
{
    font-size: 0;
}

.php:hover .card-prev {
    width: 0;
    left: 100%;
    bottom: 100%;
}