@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #dedede;
}

a {
    text-decoration: none;
}

.container {
    width: 82%;
    margin: 0 auto;
}

.main-logo {
    width: 150px;
}

div.main-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.content {
    color: #fff;
    display: grid;
    height: 80vh;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 5%);
    grid-template-rows: repeat(15, 1fr);
}

.card {
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: default;
    width: 100%;
    height: 100%;
}

.main {
    grid-column: 2 / 7;
    grid-row: 1 / 8;
}

.main .card-prev {
    background: #fff;
}

.main .card-content a {
    position: relative;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
}

.btn {
    background: blue;
    color: #fff;
    padding: 5px 30px;
    border-radius: 5px;
    transition: 0.5s;
}

.btn:hover {
    background: #1b1b74;
}

.qa {
    grid-column: 2 / 7;
    grid-row: 8 / 16;
}

.qa .card-prev {
    background: #52be77 !important;
}

.qa span,
.js span,
.php span,
.net span {
    font-size: 75px;
}

.js {
    grid-column: 7 / 12;
    grid-row: 1 / 13;
}

.js .card-prev {
    display: grid;
    align-items: end;
    justify-items: end;
    color: #000;
    font-weight: bold;
    transition: height 0.5s ease-in-out;
    background: #f7cf69 !important;
}

.js .card-prev span {
    margin-right: 15px;
    margin-bottom: 10px;
}

.java {
    grid-column: 7 / 12;
    grid-row: 13 / 16;
}

.java .card-prev {
    position: relative;
    top:0;
    right: 0;
    transition: 0.5s;
    font-size: 45px;
    background: #e2414c !important;
}

.php {
    grid-column: 12 / 20;
    grid-row: 1 / 8;
}

.php .card-prev{
    position: relative;
    bottom: 0;
    left: 0;
    color: #000;
    background: #8892c0 !important;
    font-style: italic;
}

.net {
    grid-column: 12 / 17;
    grid-row: 8 / 16;
}

.net .card-prev {
    position: relative;
    top: 0;
    left: 0;
    background: #653377 !important;
}

.events {
    grid-column: 17 / 20;
    grid-row: 8 / 11;
}

.events .card-prev {
    position: relative;
    top: 0;
    left: 0;
    background: #2f99fc !important;
}

.events .card-content {
    overflow: auto;
}

.blog {
    grid-column: 17 / 20;
    grid-row: 11 / 14;
}

.blog .card-prev {
    position: relative;
    top: 0;
    left: 0;
    background: #0243a3 !important;
}

.contacts {
    grid-column: 17 / 20;
    grid-row: 14 / 16;
}

.contacts .card-prev {
    position: relative;
    top: 0;
    left: 0;
    background: #00265f !important;
}

.contacts .card-content {
    text-align: center;
}

.footer {
    margin-top: 40px;
    text-align: center;
}

.card-content {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 15px;
    font-weight: bold;
    color: #000;
}

.content > div:hover .card-content {
    display: block;
}


.contact-icon {
    color: #000;
    font-size: 30px;
    margin-right: 10px;
    transition: 0.5s;
}

.contact-icon:hover {
    color: #0045c4;
}

.icons {
    display: block;
    margin-top: 10px;
}