.dropdown {
    display: none;
    position: absolute;
    background: #fff;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 1px 6px 0 grey;
    right: 7.5%;
    top: 55px;
}

.dropdown span {
    display: block;
    transition: 0.3s;
}

.dropdown span:first-child {
    padding: 1px 15px;
    font-weight: bold;
    color: #afafaf;
    border-bottom: 1px solid gray;
}
.dropdown-item {
    text-align: left;
    padding: 5px 15px;
}
.dropdown-item a {
    color: #000;
}

.dropdown-item:hover {
    background: #e7e7e7;
}
