@media (max-width: 972px){
    .content {
        grid-template-columns: repeat(auto-fill, 5%);
        grid-template-rows: repeat(auto-fill, 5%);
    }

    .main {
        grid-column: 1 / 10;
        grid-row: 1 / 10;
    }

    .js {
        grid-column: 10 / 17;
        grid-row: 1 / 10;
    }

    .events {
        grid-column: 17 / 21;
        grid-row: 1 / 4;
    }

    .blog {
        grid-column: 17 / 21;
        grid-row: 4 / 8;
    }

    .contacts {
        grid-column: 17 / 21;
        grid-row: 8 / 10;
    }

    .java {
        grid-column: 1 / 11;
        grid-row: 10 / 15;
    }

    .qa {
        grid-column: 1 / 11;
        grid-row: 15 / 20;
    }

    .php {
        grid-column: 11 / 21;
        grid-row: 10 / 15;
    }

    .net {
        grid-column: 11 / 21;
        grid-row: 15 / 20;
    }
}