.header {
    padding: 10px 0;
    background: white;
    user-select: none;
    position: sticky;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
}

.header-wrp {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    align-items: center;
}

.logo {
    max-width: 105px;
    width: 100%;
    height: 100%;
}

.left-side {
    text-align: left;
}

.right-side {
    text-align: right;
}

.notification-icon {
    cursor: pointer;
    margin-right: 15px;
    transition: 0.5s;
}

.notification-icon:hover {
    color: #797979;
}

.gray {
    color: #cbcbcb;
}

.avatar {
    margin-top: 4px;
    font-weight: bold;
    background: #3fd43f;
    transition: 0.5s;
    color: #fff;
    border-radius: 50%;
    padding: 10px 12px;
    cursor: pointer;
}

.avatar:hover {
    background: #298729;
}